$dark: #22252c;
$purple: #3F3250;
$red: #E14658;
$grey: #d8d6d6;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: $dark;
    font-family: 'Montserrat', sans-serif;
    position: -webkit-sticky;
    position: sticky;
    top: 0 ;   
    z-index: 2;
}

.logo {
    color: $red;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.nav-links li {
    list-style: none;  
}

.nav-links a{
    color: $red;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: $red;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1200px){
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: $dark;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;        
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;    
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links a {
    -webkit-transition-duration: 0.5;
    transition-duration: 0.5s;
  }
  
.nav-links a:hover {
    padding: 10px;
    background-color: $red; 
    color: $dark;
  }

.main {
    background-image: url('/img/main.jpg');
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    height: 92vh;
  
}
.main-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba($color: $dark, $alpha: 0.6);
    display: flex;
}

.header-text {
    margin: 0 auto;
    justify-content: center;
    display: flex;
    flex-direction: column;
    line-height: 6em;
    .hello{
        text-align: center;
        color: $red;
        font-size: 4.5em;
        font-family: 'Roboto', sans-serif;
    }
    h1 {
        color: white;
        font-size: 3.5em;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        .developer {
            color: $red;
            text-decoration: underline;
        } 
        .myName {
            color: $purple;
           
        }
    }
}

@media screen and (max-width: 768px){
   .header-text{ 
       line-height: 4em;
    .hello {
        font-size: 3.5em;
    }
    h1 {
        font-size: 2.5em;
    }
    
   }
   .myName {
    color:rgb(119, 98, 149) !important;
}
}

.portfolio {
    background: white;
    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        text-align: center;
        margin: 4em 0 2em 0;
        text-transform: uppercase;
        color: $dark;
    }
    .portfolio-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 7em;
        
        .portfolio-row1 {
            display: flex;
            overflow: hidden;
            .row1 {
                transition: all 0.5s ease;
                margin: 2em;
                border: 2px solid white;
                border-radius: 1.5%;
                box-shadow: 0px 4px 98px 9px rgba(77,75,75,0.32);
                -webkit-box-shadow: 0px 4px 98px 9px rgba(77,75,75,0.32);
                -moz-box-shadow: 0px 4px 98px 9px rgba(77,75,75,0.32);
            }
            .row1:hover {
                transform: scale(1.2);
            }
        }
        .portfolio-row2 {
            display: flex;
            .row2 {
                margin: 2em;
                transition: all 0.5s ease;
                border: 2px solid white;
                border-radius: 1.5%;
                box-shadow: 0px 4px 98px 9px rgba(77,75,75,0.32);
                -webkit-box-shadow: 0px 4px 98px 9px rgba(77,75,75,0.32);
                -moz-box-shadow: 0px 4px 98px 9px rgba(77,75,75,0.32);
            }
            .row2:hover {
                transform: scale(1.2);
            }
        }
    }
}

@media screen and (max-width:768px){
    .portfolio-container{
        align-items: center;
        .portfolio-row1{
            flex-direction: column;
        }
        .portfolio-row2{
            flex-direction: column;
        }
    }
}

.about {
    height: 60em;
    background-color: $dark;
    .about-heading {
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        text-align: center;
        padding: 3em 0 1em 0;
        text-transform: uppercase;
        color: white;
    }
    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0 100px 0; 
        .about-photo {
            height: 300px;  
            width: 300px;
            background-image: url("/img/myself.jpg");
            border-radius: 100%;
            background-size: cover;
            background-position: center;
            border: 10px solid white;
        }
        .about-message {
            -webkit-clip-path: polygon(15% 0, 100% 0%, 100% 100%, 15% 100%, 15% 75%, 2% 61%, 15% 60%);
            clip-path: polygon(15% 0, 100% 0%, 100% 100%, 15% 100%, 15% 75%, 2% 61%, 15% 60%);
            background-color: white;
            height: 80%;
            width: 50%;
            .aboutMe {
                padding: 2em 3em 2em 8em;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .about-photo {
        margin-left: 2em;
        height: 200px !important;
        width: 200px !important;
    }
    .aboutMe {
        padding: 2em 3em 2em 6em !important;
    }

}

@media screen and (max-width:768px){
   .about {
      height: 75em;
        .about-container {
            flex-direction: column;
            .about-message {
                margin-top: 5em;
                transform: rotate(90deg);
                width: 600px;
                height: 400px;
                .aboutMe {
                    text-align: center;
                    padding: 0 9.5em 0em 3em !important;
                    transform: rotate(-90deg);
                }
            }
    }
 }
}

.contact {  
    background-color: white;
    .contact-heading {
        font-family: 'Roboto', sans-serif;
        font-size: 2em;
        text-align: center;
        margin: 4em 0 2em 0;
        text-transform: uppercase;
        color: $dark;
    }
    form { max-width:420px; margin:50px auto; }
        .feedback-input {
        color: $dark;
        font-family: 'Roboto', sans-serif;
        font-weight:500;
        font-size: 18px;
        border-radius: 5px;
        line-height: 22px;
        background-color: transparent;
        border:2px solid $red;
        transition: all 0.3s;
        padding: 13px;
        margin-bottom: 15px;
        width:100%;
        box-sizing: border-box;
        outline:0;
        }

        .feedback-input:focus { border:2px solid $red; }

        textarea {
        height: 150px;
        line-height: 150%;
        resize:vertical;
        }

        [type="submit"] {
        font-family: 'Roboto', sans-serif;
        width: 100%;
        background: $red;
        border-radius:5px;
        border:0;
        cursor:pointer;
        color:white;
        font-size:24px;
        padding-top:10px;
        padding-bottom:10px;
        transition: all 0.3s;
        margin-top:-4px;
        font-weight:700;
        }
        [type="submit"]:hover { background: $dark; color: $red }
        .social-logos {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 10em;
            img {
                height: 200px;
                width: 200px;
                margin: 0 4em;
                filter: $dark; 
                -webkit-filter: grayscale(1); 
                -webkit-transition: all .8s ease-in-out; 
                transition: all .8s ease-in-out;
            }
            img:hover {
                filter: none;
                  -webkit-filter: grayscale(0);
                  -webkit-transform: scale(1.01);
                  transform: scale(1.01);
                }
        }
    }

@media screen and (max-width:768px) {
    .social-logos {
        img {
            height: 120px !important;
            width: 120px !important;
            margin: 0 0.4em !important;
        }
    }
}

footer {
    background-color: $dark;
    height: 4vh;
}