$dark: #22252c;
$purple: #3F3250;
$red: #E14658;
$grey: #d8d6d6;


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: $dark;
    font-family: 'Montserrat', sans-serif;
    position: -webkit-sticky;
    position: sticky;
    top: 0 ;
    z-index: 1;
    
}

.logo {
    color: $red;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;


}

.nav-links li {
    list-style: none;
    

}

.nav-links a{
    color: $red;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.burger {
    display: none;
    cursor: pointer;
    
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: $red;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1200px){
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width:768px){
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: $dark;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;        
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;    
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links a {
    -webkit-transition-duration: 0.5; /* Safari */
    transition-duration: 0.5s;
  }
  
.nav-links a:hover {
    padding: 10px;
    background-color: $red; 
    color: $dark;
  }

.main {
    background-image: url('/img/main.jpg');
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    height: 92vh;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
        opacity: .6;
        
      }
    }


.test {
    background-color: #d8d6d6;
    height: 100vh;
}